

.th-fontsize {
    font-size: 16px;
}
.th-color{
    color: #f15a29
}

.td-fontsize{
    font-size: 14px;
}
.td-color{
    color:#2952a3
}

.big-heading{
    color: #f15a29
}
.sub-heading{
    color: #f15a29
}




